body {
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #1c1c1c;
}

.navbar-brand,
.nav-link {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    color: #ff3c00 !important;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 10px;
}

.carousel-item-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: auto;
}

.movie-slider {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 10px;
    white-space: nowrap;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}

.left-btn {
    left: 10px;
}

.right-btn {
    right: 10px;
}